In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import json

In [2]:
df = pd.read_csv("activity_data.csv")

In [3]:
def clean_json(x):
    return json.loads(x)

In [3]:
sample_type = type(df["id"][0])
print(f"The data type before using apply function: {sample_type}\n")

The data type before using apply function: <class 'str'>

In [4]:
df["id"]

0    {'S': '744_movies'}
1    {'S': '820_movies'}
2    {'S': '402_movies'}
3     {'S': '87_movies'}
4    {'S': '810_movies'}
Name: id, dtype: object

In [5]:
length= len(df)

In [6]:
length

5

In [7]:
lst=[]

In [8]:
i=0

In [9]:
while(i<5):
    df["id"][i]=df["id"][i].replace("'S':",'')
    df["id"][i]=df["id"][i].replace('_movies','')
    df["id"][i]=df["id"][i].replace('{','')
    df["id"][i]=df["id"][i].replace('}','')
    df["id"][i]=df["id"][i].replace("'",'')
    lst.append(int(df["id"][i]))
    i+=1

In [10]:
lst

[744, 820, 402, 87, 810]

In [11]:
df1 = pd.read_csv("data.csv")

In [13]:
df1.head()

,_type,_id,_score,_source
0,movies,97,20.848059,"{'cast': ['Jeff Bridges', 'Bruce Boxleitner', ..."
1,movies,507,10.478757,"{'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-..."
2,movies,811,9.831051,"{'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri..."
3,tvshows,25222,9.288745,"{'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle..."
4,movies,757,9.140831,"{'cast': ['Margaret Rutherford', 'Ron Moody', ..."

In [16]:
df.dtypes

media_type    object
watched       object
rating        object
watchlist     object
profile_id    object
id            object
hide          object
dtype: object

In [14]:
actor_lst = []

In [15]:
for i in lst:
    for j in df["_id"]:
        if i == j:
            actor_lst.append(j)

KeyError: '_id'